@CHARSET "UTF-8";

a {
    color: #000000;
}

ul#menu {
    list-style: none;
    margin: 1em 0;
    padding: 0;
}

ul#menu li {
    float: left;
    margin-right: 1em;
}

ul#menu li a {
    
}

ul#menu li a:hover {
    
}

/* Table */
th {
    text-align: left;
}
td, th {
    padding-right: 5px;
}
/* style form */
form dt {
    width: 100px;
    display: block;
    float: left;
    clear: left;
}
form dd {
    margin-left: 0;
    float: left;
    
}
form dl:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

form #submitbutton {
    margin-left: 100px;
}

.right {
    float: right;
}

.left {
    float: left;
}

#filter > * {
    float: left;
    margin-right: 1em;
}
/*
#content {
    max-width: 930px;
    margin: 0 auto;
}
*/

#photosets {
    list-style: none;
    padding: 0;
}

.clearfix {
    margin: 10px 0;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

#photosets li {
    float:left;
    margin: 0 5px 5px 0;
    width: 150px;
    height: 240px;
}

#photosets li div.image {
    width: 150px;
    height: 199px
}

li.autoThumb {
    background: darkred;
}

ul#ranking {
    padding: 0;
    list-style: none;
    width: 890px;
    margin: 0 auto;
}

ul#ranking li{
    float: left;
    margin: 0 20px;
}

ul#ranking li div.image {
        width: 400px;
        height: 533px
    }
    
.rankingLine {
    height: 3px;
    background: black;
}

.container {
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
}

.row, .form-horizontal .form-group {
    margin-left: -5px;
    margin-right: -5px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, 
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, 
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, 
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, 
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, 
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, 
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, 
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, 
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, 
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, 
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, 
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 5px;
    padding-right: 5px;
}

.thumbnail {
    border: 0;
    border-radius: 0;
    padding: 0;
    margin-bottom: 10px;
}

.thumbnail img {
    width: 100%;
}

.thumbnail label {
    display: block;
    margin-bottom: 0px;
    font-weight: auto;
}

.thumbnail .image {
    position: relative;
}

a.thumbnail:hover, a.thumbnail:focus, .thumbnail .image.medium .name a:hover, a.thumbnail.active {
    text-decoration: none;
}

.thumbnail .name {
    position: absolute;
    bottom: 0px;
    background: rgba(100,100,100,0.5);
    width: 100%;
    text-align: center;
    color: #FFFFFF;
}

.thumbnail .name a {
    color: #EEEEEE;
    vertical-align: middle;
    display: table-cell;
    height: 40px;
}

.thumbnail .autothumb .name {
    background: rgba(100,0,0,0.8);
}

.thumbnail .image.medium .name {
    font-size: 20px;
    line-height: 20px;
    display: table;
    height: 50px;
    padding: 5px;
}

/* Nav bar toggle */
.navbar-toggle {
    font-size: 21px;
    padding: 1px 7px;
}

/* Search */
.navbar .input-sm, .navbar .btn-sm {
    margin: 3px 0;
}

/* Page Title */
.page-header {
    margin-top: 0px;
    margin-bottom: 10px;
}

/* Pagination */
.pagination {
    margin: 5px 0 10px;
}

/* Footer */
footer {
    border-top: 1px solid #cccccc;
    padding: 5px 10px;
}

.nav>li>a {
    padding: 10px 10px;
}


@media only screen and (min-width: 320px) and (max-width: 790px) {
    /* iPhone, Android rules here */
    body {
        background: black;
        color: rgb(179,179,179);
        font-family: Helvetica;
        font-size:12px;
        /*width: 312px;*/
    }
    h2 {
        color: rgb(179,179,179);
    }
    button {
        color: black;
    }
    #banner a {
        color: rgb(179,179,179);
    }
    
    a {
        color: rgb(179,179,179);
    }

    ul#ranking {
        width: 100%;
    }
    ul#ranking li{
        margin: 0 0;
        width: 50%;
    }
    
    ul#ranking li div.image {
        width: 150px;
        height: 200px
    }
    
    img.autoThumb {
        border: 3px solid red;
    }
    
    #photosets li {
        float:left;
        margin: 0 2px 0px 0;
        width: 100px;
        height: 160px;
    }
    
    #photosets li img {
        width: 100px;
        /*height: 160px;*/
    }
    
    #photosets li div.image, #photosets li label.image {
        width: 100px;
        height: 133px;
        cursor: pointer;
        display: block;
    }    
    
    #search input {
        width: 9em;
    }
    
    .rankingLine {
        height: 2px;
        background: white;
    }
    
    button[type="submit"] {
        display: inline-block;
        padding: 6px 12px;
        color: #333;
        background-color: #ebebeb;
        border-color: #adadad;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    /*
    .thumbnail .image.medium .name {
        font-size: 15px;
        line-height: 20px;
        height: 40px;
        padding: 5px;
    }
    */
    
}