@CHARSET "UTF-8";

body,html {
    margin: 0;
    font-family: Verdana,sans-serif;
}
h1 {
    font-size: 1.4em;
    color: #000000;
    text-align: center;
    margin: 0 auto 10px auto;
    width: 40%;
}
h2 {
    font-size: 1.2em;
    color: #000000;
    margin: 0 0 10px 0;
}
a {
    color: #000000;
}

ul#menu {
    list-style: none;
    margin: 1em 0;
    padding: 0;
}

ul#menu li {
    float: left;
    margin-right: 1em;
}

ul#menu li a {
    
}

ul#menu li a:hover {
    
}

/* Table */
th {
    text-align: left;
}
td, th {
    padding-right: 5px;
}
/* style form */
form dt {
    width: 100px;
    display: block;
    float: left;
    clear: left;
}
form dd {
    margin-left: 0;
    float: left;
    
}
form dl:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

form #submitbutton {
    margin-left: 100px;
}

.right {
    float: right;
}

.left {
    float: left;
}

#filter > * {
    float: left;
    margin-right: 1em;
}
/*
#content {
    max-width: 930px;
    margin: 0 auto;
}
*/

#photosets {
    list-style: none;
    padding: 0;
}

.clearfix {
    margin: 10px 0;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

#photosets li {
    float:left;
    margin: 0 5px 5px 0;
    width: 150px;
    height: 240px;
}

#photosets li div.image {
    width: 150px;
    height: 199px
}

li.autoThumb {
    background: darkred;
}

ul#ranking {
    padding: 0;
    list-style: none;
    width: 890px;
    margin: 0 auto;
}

ul#ranking li{
    float: left;
    margin: 0 20px;
}

ul#ranking li div.image {
        width: 400px;
        height: 533px
    }
    
.rankingLine {
    height: 3px;
    background: black;
}

@media only screen and (min-width: 320px) and (max-width: 790px) {
    /* iPhone, Android rules here */
    body {
        background: black;
        color: rgb(179,179,179);
        font-family: Helvetica;
        font-size:12px;
        /*width: 312px;*/
    }
    h2 {
        color: rgb(179,179,179);
    }
    button {
        color: black;
    }
    #banner a {
        color: rgb(179,179,179);
    }
    
    a {
        color: rgb(179,179,179);
    }
    a img {
        border: 0px;
    }
    
    ul#ranking {
        width: 100%;
    }
    ul#ranking li{
        margin: 0 0;
        width: 50%;
    }
    
    ul#ranking li div.image {
        width: 150px;
        height: 200px
    }
    
    img {
        border: 3px solid black;
    }
    
    img.autoThumb {
        border: 3px solid red;
    }
    
    #photosets li {
        float:left;
        margin: 0 2px 0px 0;
        width: 100px;
        height: 160px;
    }
    
    #photosets li img {
        width: 100px;
        /*height: 160px;*/
    }
    
    #photosets li div.image, #photosets li label.image {
        width: 100px;
        height: 133px;
        cursor: pointer;
        display: block;
    }    
    
    #search input {
        width: 9em;
    }
    
    .rankingLine {
        height: 2px;
        background: white;
    }
    
    button[type="submit"] {
        display: inline-block;
        padding: 6px 12px;
        color: #333;
        background-color: #ebebeb;
        border-color: #adadad;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.thumbnail {
    border: 0;
    border-radius: auto;
    padding: 0;
}

.thumbnail img {
    width: 100%;
}

.thumbnail div.image {
    position: relative;
}

a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
    text-decoration: none;
}

.thumbnail div.name {
    position: absolute;
    bottom: 0px;
    background: rgba(100,100,100,0.8);
    width: 100%;
    text-align: center;
}
